<%= form_for(@testtest) do |f| %>
  <% if @testtest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testtest.errors.count, "error") %> prohibited this testtest from being saved:</h2>

      <ul>
      <% @testtest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
